# HTTP
server {
    listen 80;
    server_name ${SERVER_NAME};

    # Let's Encrypt 認証用
    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    # HTTPSへリダイレクト（証明書がある場合のみ機能）
    location / {
        return 301 https://$host$request_uri;
    }
}
